.group{
  display: flex;
  justify-content: space-between;
}
.lockimg{
  padding-left: 2rem;
}
.input1{
  margin-top: 10rem;
}
.group {
  padding-left: 1.25rem; /* Corresponds to ps-5 */
}
  /* Adjust logo size for tablets */
  .hero-img{
    height: auto;
    width: 40rem;
    overflow: hidden;
}
.hero2{
  display: none;
}
.heading{
  font-style:italic ;
}
@media (max-width: 1300px) {
    .hero_img{
        display: none;
    }
    .img_separator{
      display: none;
    }
    .hero2{
      display: block;
      height: auto;
      width: 30rem;
    }
    .agree {
      font-size: 0.8rem; /* Adjust the font size as needed */
      color: #666; /* Optional: change the color if needed */
      margin-top: 10px; /* Optional: add some margin for spacing */
      margin-left: 3rem;
      margin-right: 3rem;
    }
}
@media (max-width: 762px) {
  .hero_img{
      display: none;
  }
  .img-separator{
    display: none;
  }
  .hero2{
    display: block;
    height: auto;
    width: 20rem;
    margin: 2rem;
  }
}

  
.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px; /* Adjust the gap between tabs as needed */
  margin-bottom: 20px; /* Add space below the tabs */
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabchoice {
  cursor: pointer;
  padding: 10px;
}

.tabchoice a {
  text-decoration: none;
  color: inherit;
}

.tabchoice.active a {
  text-decoration: underline;
  color: #8064A2; 
}
.agree {
  font-size: 0.8rem; /* Adjust the font size as needed */
  color: #666; /* Optional: change the color if needed */
  margin-top: 10px; /* Optional: add some margin for spacing */
  margin-left: 3rem;
}

.left-elements {
  display: flex;
  align-items: center;
  font-size: 0.2rem;
}
.remember{
  font-size: 0.1rem;
}
.right-elements {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}

.right-elements img {
  margin-right: 0.5rem;
  margin-left: 2rem;
}

.check {
  margin-right: 10px;
}

.homeScreenChild {
    width: 1440px;
    height: 678px;
    position: relative;
    background-color: var(--purple-3);
    display: none;
    max-width: 100%;
  }
  .exploreYour {
    color: var(--base-black);
  }
  .hobby {
    color: var(--blue-1);
  }
  .or {
    color: var(--base-black);
  }
  .passion {
    color: var(--primary-full);
  }
  .exploreYourHobbyContainer,
  .ifYouAre,
  .signInToInteract {
    position: relative;
    letter-spacing: 0.02em;
    font-family: var(--text-sm-bold);
    text-align: left;
    z-index: 1;
  }
  .exploreYourHobbyContainer {
    margin: 0;
    font-size: var(--font-size-17xl);
    display: inline-block;
    font-style: italic;
    font-weight: 600;
    max-width: 100%;
    padding-top: 2rem;
  }
  .ifYouAre,
  .signInToInteract {
    font-size: var(--text-sm-bold-size);
    line-height: 30px;
    font-weight: 300;
    color: var(--base-black);
  }
  .signInToInteract {
    align-self: stretch;
  }
  .ifYouAre {
    flex: 1;
    white-space: pre-wrap;
    display: inline-block;
    max-width: 100%;
  }
  
