/* Default logo size */
.logo {
    height: 50px;
    width: 280px;
  }
  .bell{
    display: none;
  }

  /* Adjust logo size for tablets */
  @media (max-width: 1300px) {
    .logo {
      height: 40px;
      width: 224px;
    }
    .search-box{
      display: none;
    }
  }
  @media (max-width: 672px){
.bell{
  display: block;
  height: 1rem;
  width: 1rem;
  display: flex;
}
.icons{
  display: none;
}
  }
  @media (max-width: 372px){
    .logo {
      height: 20px;
      width: 60px;
    }
      }
  /* Adjust logo size for mobile */
  @media (max-width: 576px) {
    .logo {
      height: 30px;
      width: 100px;
    }
    .navbar-nav{
      padding-left: 0;
    }
    .search-box{
      display: none;
    }
  }
  